.App {
  align-items: center;
  width:"100%";
  height: 100%;
}

.column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.flex {
  display:flex;
}

.container { 
  width:23%;
  height:100%;
}

.input { 
  border-top: none;
  border-left: none;
  border-right:none;
  border-bottom: grey solid 1px;
  border-color:rgb(226,226,226);
  outline: none;
  font-size: 14px;
}

.pass {
  font-size: 20px;
}

.excentre { 
  justify-content: flex-end;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 540;
}

.t-container {
  width:340px
}
.text {
  margin-top: 4%;
  margin-bottom: 8%;
  color:rgb(216,216,216);
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.title {
  width:78%;
  letter-spacing: 0.5px;
  margin-top: 220px;
  margin-left:-78px;
}

.btn {
  width:100%;
  height:5vh;
  background-color:rgb(3,208,206);
  color:white;
  border-color: rgb(3,208,206);
  outline: none;
  border-style:solid;
  box-shadow: 0 2px 0px rgb(220,220,220);
}

img {
  width:14px;
  position:relative;
  margin-top: -7.7%;
  margin-left:91%;
  color:grey;
}


@media screen and (width: 1200px){
  .container { 
    width:80%;
    height:100%;
  }
  .t-container {
    width:100%;
  }
  .title {
    letter-spacing: 0.5px;
    margin-top: 220px;
  }
  img {
    width:14px;
    position:absolute;
    margin-top: 2%;
    margin-left:90%;
    color:grey;
  }
}


@media screen and (max-width: 1200px){
  .container { 
    width:80%;
    height:100%;
  }
  .t-container {
    width:100%;
  }
  .title {
    width:68%;
    letter-spacing: 0.5px;
    margin-top: 220px;
    margin-left:-78px;
  }
  img {
    width:14px;
    position:absolute;
    margin-top: -2.7%;
    margin-left:74%;
  }
}